In [2]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import re

In [3]:
page=requests.get("https://www.icc-cricket.com/rankings/mens/player-rankings/ODI/batting")
page

In [4]:
soup=BeautifulSoup(page.text,'lxml')

In [7]:
table_body=soup.find('table')
row_data=[]

In [8]:
for row in table_body.find_all('tr'):
    col=row.find_all('td')
    col=[ele.text.strip()for ele in col]
    row_data.append(col)
df=pd.DataFrame(row_data)
df

,0,1,2,3,4
0,None,None,None,None,None
1,1\n \n\n\n(0),Babar Azam,PAK,891,"891 v Australia, 02/04/2022"
2,2\n \n\n\n(0),Virat Kohli,IND,811,"911 v England, 12/07/2018"
3,3\n \n\n\n(0),Imam-ul-Haq,PAK,795,"795 v Australia, 02/04/2022"
4,4\n \n\n\n(0),Rohit Sharma,IND,791,"885 v Sri Lanka, 06/07/2019"
...,...,...,...,...,...
96,96\n \n\n\n(0),Rovman Powell,WI,407,"456 v Bangladesh, 28/07/2018"
97,97\n \n\n\n(0),Jatinder Singh,OMA,407,"407 v Namibia, 14/03/2022"
98,98\n \n\n\n(0),Matthew Cross,SCO,405,"427 v Oman, 18/08/2019"
99,99\n \n\n\n(0),Gulbadin Naib,AFG,405,"440 v Ireland, 28/02/2018"
100,100\n \n\n\n(0),Moeen Ali,ENG,404,"522 v West Indies, 27/09/2017"

In [9]:
header=[]
for i in soup.find_all("th"):
    col_name=i.text.strip().lower().replace(" ","_")
    header.append(col_name)
header

['pos', 'player', 'team', 'rating', 'career_best_rating']

In [11]:
results=pd.DataFrame(row_data,columns=header)
results

,pos,player,team,rating,career_best_rating
0,None,None,None,None,None
1,1\n \n\n\n(0),Babar Azam,PAK,891,"891 v Australia, 02/04/2022"
2,2\n \n\n\n(0),Virat Kohli,IND,811,"911 v England, 12/07/2018"
3,3\n \n\n\n(0),Imam-ul-Haq,PAK,795,"795 v Australia, 02/04/2022"
4,4\n \n\n\n(0),Rohit Sharma,IND,791,"885 v Sri Lanka, 06/07/2019"
...,...,...,...,...,...
96,96\n \n\n\n(0),Rovman Powell,WI,407,"456 v Bangladesh, 28/07/2018"
97,97\n \n\n\n(0),Jatinder Singh,OMA,407,"407 v Namibia, 14/03/2022"
98,98\n \n\n\n(0),Matthew Cross,SCO,405,"427 v Oman, 18/08/2019"
99,99\n \n\n\n(0),Gulbadin Naib,AFG,405,"440 v Ireland, 28/02/2018"
100,100\n \n\n\n(0),Moeen Ali,ENG,404,"522 v West Indies, 27/09/2017"